---
import WriteupsConfig from "../../geeklurk";
import GlobalStyles from "./GlobalStyles.astro";
import ScriptSetup from "./ScriptSetup.astro";

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />

<!-- Primary Meta Tags -->
<title>{WriteupsConfig.title}</title>
<meta name="title" content={WriteupsConfig.title} />
<meta name="description" content={WriteupsConfig.description} />

<!-- CSS -->
<link
    rel="stylesheet"
    href="https://fastly.jsdelivr.net/npm/katex/dist/katex.min.css"
/>
<!-- Fonts -->
<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/ryanoasis/nerd-fonts@master/patched-fonts/JetBrainsMono/Ligatures/Regular/complete/JetBrains%20Mono%20Regular%20Nerd%20Font%20Complete.ttf"
    rel="stylesheet"
/>

<GlobalStyles />
<ScriptSetup />
